.nav-pills {
  justify-content: center;

  .nav-item {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;

    .nav-link {
      border-radius: 0;
      border-bottom: 2px solid #ddd;
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 60px;
      color: #888888;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;

      &.active {
        border-bottom-color: #18a1db;
        color: #18a1db;
        background-color: transparent;
      }
    }
  }
}
